*{
    padding: 0;
    margin: 0;
}

.home{
    background-image: url('https://res.cloudinary.com/evilvic/image/upload/v1583259278/la%20doble%20e/101-min_dd3v84.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}