.table{
    width: 100vw;
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

table{
    border: 3px solid #041531;

    
}
thead {
    background-color: #041531;
    color: ivory;

}

tr{

    height: 60px;
}

th{
    width: 150px;
    text-align: center;
    font-size: 1.3em;
}

td{
    text-align: center;
    font-size: 1.3em;
}

tfoot{
    background-color: #041531;
    color: ivory;


}

tfoot td{
    text-align: center;
    font-size: 1.3em;
}

.buttonTable{
    background-color: #041531;
    color: ivory;
    width: 200px;
    height: 60px;
    margin-top: 50px;
    border-radius: 5px;

}